.box {
  width: 10em;
  height: 10em;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  /* initial style */
  position: relative;
  left: 0px;

  transition: all 2s ease;
}

.box.changed {
  position: relative;
  left: 600px;
  background-color: white;
  font-weight: bold;
  border: red solid 2px;
  color: red;
}
